
.chrome-picker {
  background-color: #1a1a1a !important;
  font-family: inherit !important;
}

.chrome-picker input {
  background-color: rgb(36, 36, 36) !important;
  color: rgb(160, 160, 160) !important;
  box-shadow: none !important;
}
